<configuration>
 <system.webServer>
 <handlers>
 <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script" />
 </handlers>
 <rewrite>
 <rules>
 <rule name="all">
 <match url="/*" />
 <action type="Rewrite" url="server.js" />
 </rule>
 </rules>
 </rewrite>
 <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" interceptor="C:\inetpub\wwwroot\iisnode\interceptor.js"  promoteServerVars="REMOTE_ADDR"/>
 </system.webServer>
</configuration>
